*{
  margin:0;
}

.App{
  background-color: #FAFAFA;
  height: 100%;
}


.app_header{
  background-color: #FFFFFF;
  padding: 15px;
  position: sticky;
  top:0;
  display: flex;
  justify-content: space-between;
  z-index: 20;
}


.form{
  display: flex;
  flex-direction: column;
}

.body{
  padding: 20px;
  display: flex;
  justify-content: center;
 
}